{% if items %}
{% for items in items %}
<div class="list-group">
     <a href="/item/{{ items.pk }}" class="list-group-item">
         <div class="media col-md-3">
             <figure class="pull-left">
                 <img class="all_img" src="{{ items.image.url }}" >
             </figure>
         </div>

         <div class="col-md-6">
             <h4 class="list-group-item-heading">{{ items.name }}</h4>

             <br>
             <br>
             <p class="list-group-item-text">{{ items.details|truncatewords:"100" }}</p>
         </div>

         <div class="col-md-3 text-center">
             <h2 class="all_price">$  {{ items.price }}</h2>
             <button type="button" class="btn btn-defaul t btn-lg btn-block">Add to Cart</button>
             <div class="stars">

             </div>

             <span class="glyphicon glyphicon-map-marker" aria-hidden="true">{{ items.locations }}</span>
         </div>

          </a>
          <br>
    {% endfor %}
{% else %}
    <p>No Results</p>
{% endif %}
 </div>

<div class="container" align="center">
    {% block pagination %}
        {% include "bike/include/pagination.html" %}
    {% endblock %}
</div>