{% load item_filters %}
<div class="container">
<aside class="sidebar">
   <ul>
       <li class="sidebar-section">
           <a href="#sidebar-1" class="sidebar-section-title">Products</a>
           {% for category in categories %}
           <ul id="sidebar-1" class="sidebar-section-list">
             <li><i class="fa fa-caret-right" aria-hidden="true"></i>
               <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
               </li>
           </ul>
           {% endfor %}
       </li>

         <li class="sidebar-section">
            <a href="#sidebar-3" class="sidebar-section-title">Brands</a>
            <ul id="sidebar-3" class="sidebar-section-list">
                {% for brand in brands%}
              <li><i class="fa fa-caret-right" aria-hidden="true"></i>
                  <a href="/brand/{{ brand.slug }}/{{ brand.pk }}">{{ brand.name }}</a>
                 {% endfor %}
            </ul>
       </li>
   </ul>
</aside>

<article>
  <div class="item">
    {% if items %}
    {% for item in items %}
      <div class="item_list">
            <a href="{{ item.get_absolute_url }}">
                <div class="item_img">
                    <img src="{{ item.image.url }}">
                </div>

                <div class="item_text">
                    <h5>{{ item.name}}</h5>
                </div>

                <div class="item_decs">{{ item.short_decs}}</div>
                <div class="item_price">
                    <div class="price">₱{{ item.price }}</div>
                    <div class="button"><a href="">Add to Cart</a></div>
                </div>
            </a>
      </div>
      {% endfor %}
      {% else %}
        <p>No Items Found</p>
      {% endif %}
  </div>
    <nav aria-label="Page navigation example">
        <div align="center">
        {%  paginator items %}
        </div>
    </nav>
</article>
</div>
