<div class="container">
    <ul class="sidebar">
        <li>
            <a href="">Condition</a>
            <ul>
                <li>New</li>
                <li>Old</li>
            </ul>
        </li>

        <li>
            <a href="">Category</a>
            <ul>
                <li><a href="">Cars</a></li>
                <li><a href="">Motorcycles</a> </li>
                <li><a href="">Vehicles</a> </li>
            </ul>
        </li>

        <li>
            <a href="">Brands</a>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>

        <li>
            <a href="">Locations</a>
            <input type="text" name="q">
        </li>
    </ul>


</div>