{% load item_filters %}

<div class="container">
    <ul class="nav nav-bar">
        <li>
            {% get_categories as categories %}
                <a data-toggle="collapse" href="">Category</a>
                <ul>
                    {% for categories in categories %}
                    <li><a href="">{{ categories.name }}</a></li>
                    {% endfor %}
                </ul>
        </li>

        <li>
            {% get_brands as brands %}
            <a href="">Brands</a>
            <ul>
                {% for brands in brands %}
                    <li><a href="">{{ brands.name }}</a></li>
                {% endfor %}
            </ul>
        </li>

        <li>
            {% get_editions as editions %}
            <a href="">Editions</a>
            <ul>
                {% for editions in editions %}
                <li><a href="">{{ editions.name }}</a></li></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>