<aside>
    <ul>
        <li>
            <div class="link">Condition <i class="fa fa-chevron-right"></i> </div>
            <ul class="submenu">
                <li><a href="">New</a></li>
                <li><a href="">Old</a></li>
            </ul>
        </li>

        <li>
            <div class="link">Category<i class="fa fa-chevron-right"></i> </div>
             <ul class="submenu">
                <li><a href="">Cars</a></li>
                <li><a href="">Motorcycles</a> </li>
                <li><a href="">Vehicles</a> </li>
            </ul>
        </li>

        <li>
            <div class="link">Brand<i class="fa fa-chevron-right"></i> </div>
             <ul class="submenu">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>

        <li>
            <div class="link">Locations <i class="fa fa-chevron-right"></i> </div>
            <ul class="submenu">
                <li>
                </li>
            </ul>
        </li>
    </ul>
</aside>