.thumbnail{
    width: 250px;
    // or you could use percentage values for responsive layout
    // width : 100%;
    height: 300px;
    overflow: auto;
}

.thumbnail img{
    // your styles for the image
    width: 800%;
    height: auto;
    display: block;
}