{% extends 'base.html' %}
{% block title %}Motorcycle({{ motorcycle.count }}){% endblock %}
{% block breadcumb %}
{{ block.super }}
<a class="breadcumb-item">Motorcycle</a>({{ motorcycle.count }})
{% include "bike/include/searchbar.html" %}
{% endblock %}

{% block content %}
          <div class="col-xs-7 col-sm-3 col-md-2">
              {% block sidebar %}
                {% include "bike/include/sidebar.html" %}
              {% endblock %}
          </div>

   <div class="col-xs-7 col-sm-3 col-md-10">
   {% block content_list %}
      {% for motorcycle in motorcycle %}

        <div class="list-group">
          <a href="/item/{{ motorcycle.pk }}" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="all_img" src="{{ motorcycle.image.url }}" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading">{{ motorcycle.name }}</h4>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true">{{ motorcycle.locations }}</span>
                    <br>
                    <br>
                    <p class="list-group-item-text">{{ motorcycle.details }}</p>
                </div>
                <div class="col-md-3 text-center">
                    <h2 class="all_price">$  {{ motorcycle.price }}</h2>
                    <button type="button" class="btn btn-defaul t btn-lg btn-block">Add to Cart</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Posted by: <small> {{ motorcycle.owner }}</small></p>
                </div>
          </a>
          <br>
            {% endfor %}
        </div>
      {% endblock %}
      </div>
{% endblock %}
<div class="container" align="center">
    {% block pagination %}
        {% include "bike/include/pagination.html" %}
    {% endblock %}
</div>
