{% extends 'base.html' %}

{% block title %}Car{% endblock %}

{% block breadcumb %}{{ block.super }}Car ({{ car.count }})
{% include "bike/include/searchbar.html" %}
{% endblock %}

{% block content %}
    <div class="container theme-showcase" role="main">
        <div class="col-xs-7 col-sm-3 col-md-2">

{% block sidebar %}
            {% include "bike/include/sidebar.html" %}
{% endblock %}
        </div>
        {% block content_list  %}
    <div class="col-xs-7 col-sm-3 col-md-10">
        {% for car in car %}
        <div class="list-group">
          <a href="/item/{{ car.pk }}" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="all_img" src="{{ car.image.url }}" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading">{{ car.name }}</h4>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true">{{ car.locations }}</span>
                    <br>
                    <br>
                    <p class="list-group-item-text">{{ car.details }}</p>
                </div>
                <div class="col-md-3 text-center">
                    <h2 class="all_price">$  {{ car.price }}</h2>
                    <button type="button" class="btn btn-defaul t btn-lg btn-block">Add to Cart</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Posted by: <small> {{ car.owner }}</small></p>
                </div>
          </a>
        </div>
          <br>
            {% endfor %}
        {% endblock %}
        </div>
    </div>
{% endblock %}


<div class="container" align="center">
    {% block pagination %}
        {% include "bike/include/pagination.html" %}
    {% endblock %}
</div>
