{% load staticfiles %}
{% load item_filters %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}My Car App{% endblock %}</title>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/ff89a5baa1.css">
      <link rel="stylesheet" type="text/css" href="{% static 'bike/css/bike.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'bike/css/all.css' %}">
      <link rel="stylesheet" type="text/css" href=" {% static 'bike/css/detail.css' %}">
      <script src="app.js"></script>
      <script src="{% static 'bike/js/main.js' %}"></script>
      <style>
          #content {
            min-height: 100%;
          }

      </style>

  </head>

  <body>
     <header>
         <div class="container">
         <div id="branding">
             <li><a href="/">CarLinks</a></li>
         </div>

         <ul class="branding">
             {% if user.is_authenticated %}
                <li><a href="/accounts/logout/">Logout</a></li>
             {% else %}
                <li><a href="/accounts/login/">Log In</a></li>
                <li><a href="/accounts/signup/">Sign Up</a></li>
             {% endif %}
                <li><a href="">Sell your Car</a></li>
         </ul>
         </div>
    </header>

     <nav>
         <div class="container">
             {% get_categories as categories %}
            <ul>

                {% for categories in categories %}
                <li><a href="/category/{{ categories.slug }}/">{{ categories.name }}<i class="fa fa-angle-down"></i> </a></li>
                {% endfor %}

            </ul>
         </div>
     </nav>

     <div class="content">
         {% block content %}
         {% endblock %}
     </div>

     <footer>
         <p>CarLinks, Copyright &copy; 2017</p>
     </footer>
  </body>
</html>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/c8fe56ad07.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>