.body {
 background-color: #EFF2F5;

}
content{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 20px;
    overflow: auto;
    width: 80%;
}
.navbar {
  margin-bottom: 20px;
}