{% extends 'base.html' %}

{% load humanize %}
{% block breadcrumb %}
    {{ block.super }} My Account
{% endblock %}

{% include 'includes/dashboard_nav.html' %}

{% block content %}
    <div class="container">
        {% include 'accounts/includes/dashboard_nav.html' %}
        {% if items %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Edition</th>
                        <th>Location</th>
                        <th>Submitted on</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>₱ {{ item.price|intcomma }}</td>
                        <td>{{ item.category}}</td>
                        <td>{{ item.brand }}</td>
                        <td>{{ item.edition }}</td>
                        <td>{{ item.locations }}</td>
                        <td>{{ item.submitted_on }}</td>
                        <td><a href="/edit/{{ item.pk }}">Edit</a> </td>
                        <td><a href="/delete/{{ item.pk }}">Delete</a> </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <p>No Item Found</p>
        {% endif %}
    </div>
{% endblock %}
