{% extends 'base.html' %}
{% load static %}
{{ block.super }}

{% block content %}
<div class="row">
<div class="col-lg-4 col-lg-offset-3">
   <form class="form-signin" enctype="multipart/form-data" role="form" method="post">
       {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        <hr>
        <label for="id_email" class="sr-only">Email address</label>
        <input id="id_email" type="email" class="form-control" placeholder="Email address" required>
        <br>
        <label for="id_password" class="sr-only">Password</label>
        <input id="id_password" type="password" class="form-control" placeholder="Password" required>
        <br>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
    <hr>
    <p>Don't have an account yet? <a href="/accounts/signup/">Sign Up</a> </p>
</div>
</div>
<br>
{% endblock %}