{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block title %}
    Log In | DavaoShopping
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
        <div class="col-lg-4 col-lg-offset-3">
            <form action="." class="form-signin" enctype="multipart/form-data" role="form" method="post">
                {% csrf_token %}
                <label>Email address:</label>
                {{ form.email }}
                <br>
                <label>Password:</label>
                {{ form.password }}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <input type="hidden" name="next" value="{{ request.user }}" />
            </form>
            <label>Create new account, <a href="/accounts/signup/">Sign Up</a> now</label>
        </div>
    </div>
</div>
{% endblock %}
