{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="container">
        <div class="col-lg-4 col-lg-offset-3">
           <form class="form-signin" enctype="multipart/form-data" role="form" method="post">
               {% csrf_token %}
                <h2 class="form-signin-heading">Sign Up</h2>
                <hr>
                {{ form.as_p }}
                 <br>
               <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
              </form>
            <hr>

        </div>
    </div>
</div>
<br>

{% endblock %}