{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
   <div class="col-sm-12 col-mid-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <form method="post" enctype="multipart/form-data" role="form">
                                {% csrf_token %}
                                <input type="hidden" name="album" value="">

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                               {{ form.as_p }}
                                            </div>
                                        </div>

                                <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            </form>
                    </div>
                </div>
            </div>
{% endblock %}