{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block title %}Sign Up | Davaoshopping{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
        <div class="col-lg-4 col-lg-offset-3">
            <form enctype="multipart/form-data" role="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me">I have read and agree to the (Terms of Service)
                    </label>
                </div>
                <button class="btn btn btn-primary btn-block" type="submit">Sign Up</button>
            </form>
            <h4>Already Signed Up?</h4>
            <small>Click Sign In to <a href="/accounts/login/">login</a> to your account </small>
        </div>
    </div>
</div>
{% endblock %}