{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
<a class="breadcumb-item">{{ items.name }}</a>({{ category.count }})
{% endblock %}

{% block content %}
        <div class="col-xs-7 col-sm-3 col-md-2">
              {% block sidebar %}
                {% include 'bike/include/sidebar.html' %}
              {% endblock %}
        </div>

        <div class="col-xs-7 col-sm-3 col-md-10">
       {% block content_list %}
            {% if items %}
               {% include 'bike/include/all_items.html' %}
            {% else %}

            {% endif %}

       {% endblock %}
        </div>
{% endblock %}