@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body{
    background-color: FFFFFF;
    height: auto;
    font: 10px/1.5;
    padding: 0;
    margin: 0px;
    font-family: sans-serif,;
}

    /* Navigation Main */
.nav-main, .nav-main * {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-main {
    background: #FAFCFC;
    padding: 0px;
    margin: 0px;
    height: 45px;
}

.nav-main ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.nav-main ul li {
    float: right;
    width: 80px;
    line-height: 45px;
    color: #85EDCF;
    text-align: center;
    font-size: 15px;
}

.nav-main ul li a {
    text-decoration: none;
    color: #09B886;
    display: block;

}

.nav-main ul li a:hover {
    border-radius: 3px;
}

.nav-main ul li ul li {
    display: none;
}

.nav-main ul li:hover ul li {
    height: auto;
    display: block;
    color: #85EDCF;
}

/* End of Main Navigation */

/* Navigation Main Menu*/
.nav-main-menu, .nav-main-menu * {
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.nav-main-menu {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.nav-main-menu .branding {
    float: left;
    color: #85EDCF;
    padding: 12px 5px 12px 40px;
}

.nav-main-menu .branding h2 a{
    color: #85EDCF;
    text-decoration: none;
}

.nav-main-menu .branding h2 a:hover {
    color: #09B886;
}

.nav-main-menu form {
    float: left;
    padding: 20px 50px 10px 100px;
}

.nav-main-menu form .search {
    width: 300px;
    font-size: 130%;
    box-sizing: border-box;
    border: 2px solid #C7FCFC;
    background-color: #ccc;
    background-position: 50px 50px;
    background-repeat: no-repeat;
    padding: 12px 5px 12px 40px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.nav-main-menu form .search:focus {
    width: 280%;
}

.nav-main-menu form .search::before {
    content: url();
}

/* End of Navigation Main Menu*/

/* Navigation Menu Bar */
/* =Styles for the lab
-------------------------------------------------------------- */

/* Navigation Menu Bar */
#wrapper {
	min-width:100px;
}

.nav-bar-menu, nav-bar-menu * {
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.nav-bar-menu {
    font-family: sans-serif;
    font-size: 18px;
	background-color: #F0F7F3;
	cursor:pointer;
}
.nav-bar-menu ul {
    list-style-type:none;
    position: relative;
    padding: 10px 0px 10px;
}
.nav-bar-menu ul li {
    display:inline-block;
}

/* sub navigation */
.nav-bar-menu li ul {
    background-color: #E5E8E8;
}

/* style all links */
.nav-bar-menu a {
    line-height:40px;
    padding: 0 12px;
    margin: 0 12px;
}
.nav-bar-menu a {
    color: #363837;
    text-decoration:none;
    display:block;
}

.nav-bar-menu a:hover,
.nav-bar-menu a:focus,
.nav-bar-menu a:active {
    color:rgb(50,50,50);
}

/* style sub level links */
.nav-bar-menu li li a {
    border-bottom: solid 1px #575D59;
}
.nav-bar-menu li li:last-child a {
    border-bottom:none;
}

.nav-bar-menu li li a:hover {
    color: #13F289;
}

/* hide sub menu links */
/* End of Navigation Menu Bar */

/* Main breadcrumb sub-nav */

.breadcrumbs {
  width: 80%;
  height: 20px;
  padding: 20px 5px 5px;
}

.breadcrumbs ul {
  display: inline;
}

.breadcrumbs li {
  display: inline;
  color: #878A8A;
  font-size: 15px;
}

.breadcrumbs li+li:before {
    font-family: 'FontAwesome';
    content: " \f101";
    padding-left: 5px;
    padding-right: 5px;
}

/* End of Main breadcrumb sub-nav */


/* Sidebar --------------------------------------->>>>*/

.sidebar .sidebar * {
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.sidebar .border {
    border: 0;
    height: 1px;
    background: #BAEAEA;
}

.sidebar ul, li{
    list-style-type: none;
 }

.sidebar {
    overflow:hidden;
    float: left;
    width: 270px;
    background-color: #EDF5F5;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar-section {
    margin: 0;
}


.sidebar-section a:hover {
    color: #09B886;
}
.sidebar-section-title {
    list-style-type: none;
    width:100%;
	padding-top: 15px;
	padding-bottom: 10px;
	display:inline-block;
	transition:all linear 0.15s;
	font-size:1.200em;
	color:#fff;
}

.sidebar-section-title {
    color: #6A6C6C;
}

.sidebar-section-title.active, .sidebar-section-title:hover {
    text-decoration:none;
}

.sidebar-section:last-child .sidebar-section-title {
    border-bottom:none;
}

.sidebar-section-list {
    padding-left: 10px;
    display: none;
    font-size:1.100em;
    margin: 0;
}
 .sidebar-section-list li {
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .sidebar-section-list li a {
    color: #6A6C6C;
 }

 .sidebar-section-list li a:hover {
    color: #09B886;
    text-decoration: none;
 }
/* */

/* Content -------------------------------------->>>> */

article {
  width: 870px;
  overflow: hidden;
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item {
  width: 100%;
  height: auto;
  float: left;
  margin-left: 5px;
}

.item_list {
  float: left;
  width: 200px;
  height: auto;
  margin-left: 15px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 2px solid #C7FCFC;
}

.item_img {
    float: left;
    width: 195px;
    height: 200px;
    overflow: hidden;
    margin-top: 1px;
    border-radius: 4px;
}

.item_img img {
    width: 100%;
    height: 100%;
}

.item_text {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    float: left;
}

.item_text h4 i {
    font-weight: normal;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.item_desc {
    width: 200px;
    height: auto;
    font-size-10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.item_price {
    width: 200px;
    padding-top: 5px;
    padding-right: 10px;
}

.price {
    font-size: 15px;
    float: left;
    color: #85EDCF;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    float: right;
    padding: 5px;
    background-color: #85EDCF;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.paginator {
  text-align: center;
}
/* End of Content */

#showcase, #showcase * {
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#showcase {
    width: 100%;
    min-height: 400px;
    background:url("../img/showcase.jpeg") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color:#E2F3EF;
    padding-top: 2px;
}



#showcase h2 {
    color: #55E8F1;
    margin-left: 50px;
}

#showcase form {
    margin-left: 50px;
}

.featured_item {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px;
}

.featured_title {
    float: left;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
}

.featured_item_list {
    float: left;
    width: 270px;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 2px solid #C7FCFC;
}

.featured_item_img {
    float: left;
    width: 265px;
    height: 200px;
    overflow: hidden;
    margin-top: 1px;
    border-radius: 4px;
}

.featured_item_img img {
    width: 100%;
}

.featured_item_text {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 270px;
    float: left;
}

.featured_item_text h4 i {
    font-weight: normal;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.featured_item_desc {
    width: 270px;
    height: auto;
    font-size-10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.featured_item_price {
    width: 270px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.featured_price {
    font-size: 15px;
    float: left;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.featured_button {
    float: right;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    color: white:
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.brand {
    width: 100%;
    height: auto;
    float: left;
}

.brand_title {
    float: left;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
}

.brand_list {
    float: left;
    width: 270px;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 2px solid #C7FCFC;
}

.brand_img {
    float: left;
    width: 265px;
    height: 300px;
    overflow: hidden;
    border-radius: 4px;
}

.brand_img img {
    width: 100%;
}

.brand_text {
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.border {
    color: grey;
}

footer {
    clear: both
    position: absolute;
    padding: 30px;
    color: #FEFEFE;
    background-color: #9DA8BE;
    text-align: center;
    min-width: 100%;
    margin-bottom: 0;
    bottom: 0;
}

.row-fluid ul.thumbnails li.span12 + li { margin-left : 0px;clear:left }
.row-fluid ul.thumbnails li.span6:nth-child(1n + 1) { margin-left : 0px;clear:left }
.row-fluid ul.thumbnails li.span4:nth-child(1n + 1) { margin-left : 0px;clear:left }
.row-fluid ul.thumbnails li.span3:nth-child(1n + 1) { margin-left : 0px; clear:left}
.row-fluid ul.thumbnails li.span2:nth-child(1n + 1) { margin-left : 0px;clear:left }
.row-fluid ul.thumbnails li.span1:nth-child(1n + 1) { margin-left : 0px;clear:left }
