{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>My Car App</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>


  <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
             <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
            </div>


            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/category/cars/">Car</a></li>
                <li><a href="/category/motors/">Motorcycle</a></li>
                <li><a href="/category/vehicles/" >Vehicle</a></li>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input formmethod="GET" name="q" type="text" class="form-control" placeholder="Search" value="{{ request.GET.q }}">
                    </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/new/">Add
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        </a>
                    </li>
                </ul>
                </div>
            </div>
    </nav>

            <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebarLeft" role="navigation">

                <div class="well sidebar-nav">
                    <ul class="nav">

                        <li><a href="#">Condition</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Seller Type</a></li>
                        <li><a href="#">Price</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>

<div class="row">


            <div class="container-fluid">
              <div class="col-xs-12 col-sm-10">
                {% block content %}
                <div class="jumbotron">
                </div>
                {% endblock %}
              </div>
            </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>