{% extends 'base.html' %}
{% block title %}{{ items.name }}{% endblock %}

<div class="container">
{% block content %}

        <div class="container">
          <div class="col-xs-7 col-sm-3 col-md-2">
             <aside>
              {% block sidebar %}
                {% include "bike/include/sidebar.html" %}
              {% endblock %}
             </aside>
          </div>

           <div class="col-xs-7 col-sm-3 col-md-10">
               <section id="content">
                   <h4>{{ items.count }} results for {{ items.category }}</h4>
                    {% include 'bike/include/all_items.html' %}
               </section>
           </div>
        </div>
{% endblock %}
</div>