{% block content %}
    <div class="container">
        <div class="col-lg-4 col-lg-offset-3">

               <fieldset>
                   <legend>Add Item</legend>
                         <form class="form-signin" enctype="multipart/form-data" role="form" method="post">
                           {% csrf_token %}
                            {{ form.as_p }}
                             <div class="checkbox">

                            </div>
                            <button class="btn btn btn-primary btn-block" type="submit">Add Now</button>
                        </form>

                </fieldset>


        </div>
</div>
<br>
{% endblock %}