{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="page-header">
        <h2 align="left">Featured Motorcycles</h2>
    </div>
        {% for item in items %}
        <div class="item">
            <div class="col-sm-3">
                <a href="/item/{{ item.pk }}">
                    <div class="col-item">
                        <div class="photo">
                            <img src="{{ item.image.url }}" class="img-responsive" alt="a" />
                        </div>

                        <div class="info">
                            <div class="row">
                                <div class="price col-md-5">
                                    <h5>{{ item.name }}</h5>
                                    <h6>{{ item.category }}</h6>
                                    <h4 class="price-text-color">${{ item.price }}.00</h4>
                                </div>

                            </div>
                                    <br>
                            <div class="separator clear-left">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true">{{ item.locations }}</span>
                            </div>

                            <div class="separator clear-left">
                                <p class="btn-add">
                                    <i class="fa fa-shopping-cart"></i>{{ item.owner }}</p>
                                <p class="btn-details">
                                    <i class="fa fa-list"></i><a href="/item/{{ item.pk }}" class="hidden-sm">More details</a></p>
                            </div>

                            <div class="clearfix">

                            </div>

                        </div>
                    </div>
                </a>
                <br>
                <br>
            </div>
        {% endfor %}
        </div>


{% endblock %}
