{% extends 'bike/base.html' %}

{% block content %}
    <div class="page-header">
        <h2 align="left">Featured Motorcycles</h2>
    </div>
    {% for item in items %}
    <div class="col-sm-3">
        <a href="/item/{{ item.pk }}">
        <div class="col-item">
            <div class="photo">
                <img src="{{ item.image.url }}" class="img-responsive" alt="a" />
            </div>

            <div class="info">
                <div class="row">
                    <div class="price col-md-5">
                        <h5>{{ item.name }}</h5>
                        <h6>{{ item.category }}</h6>
                        <br>
                        <h4 class="price-text-color">${{ item.price }}.00</h4>
                    </div>

                </div>


                <div class="separator clear-left">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true">{{ item.locations }}</span>
                </div>

                <div class="separator clear-left">
                    <p class="btn-add">
                        <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                    <p class="btn-details">
                        <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                </div>

                <div class="clearfix">

                </div>
            </div>
        </div>
        <br>
        </a>
    </div>

    {% endfor %}
    <div class="page-header" align="right">
        <button type="button" class="btn btn-info">View All</button>
      </div>
{% endblock %}
