{% extends 'base.html' %}
{% block title %}Skip the forecourt - great deals from the comfort of your home{% endblock %}

{% block content %}
<section id="showcase">
        <div class="container">
            <div class="row">
                <div class=".col-xs-12 .col-sm-6 .col-md-8">
                    <div class="container">
                    <h1>Skip the forecourt - great deals from the comfort of your home</h1>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section id="feature">
        <section id="feature-header">
            <div class="container">
                <div class=".col-xs-6 .col-md-4">
                    <h3>Featured Cars</h3>
                </div>
            </div>
        </section>

     <section id="feature-content">
         <div class="container">
             {% for featured_cars in featured_cars %}
                <div class="col-xs-6 col-md-4">
                    <div class="row-fluid">
                        <div class="span9">
                            <ul class="thumbnails">
                                <li class="span4">
                                    <div class="thumbnail">
                                        <img src="{{ featured_cars.image.url }}">
                                        <div class="caption">
                                            <h4>{{ featured_cars.name }}</h4>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
             {% endfor %}
         </div>
     </section>
    </section>

     <section id="brand">
        <section id="brand-header">
            <div class="container">
                <div class=".col-xs-6 .col-md-4">
                    <h3>Top Brands</h3>
                </div>
            </div>
        </section>

     <section id="brand-content">
         <div class="container">
             {% for top_brands in top_brands %}
                <div class="col-xs-6 col-md-4">
                    <div class="row-fluid">
                        <div class="span9">
                            <ul class="thumbnails">
                                <li class="span4">
                                    <div class="thumbnail">
                                        <img src="{{ top_brands.logo.url }}">
                                        <div class="caption">
                                            <h4>{{ top_brands.name }}</h4>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
             {% endfor %}
         </div>
     </section>
    </section>
{% endblock %}