{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'bike/css/detailview.css' %}">
{% endblock %}

{% block breadcrumbs %}
	<div class="container">
	<ul class="breadcrumbs">
		<li>{{ item.category }}</li>
		<li>{{ item.sub_category }}</li>
	</ul>
	</div>
{% endblock %}

{% block content %}
		<div class="prev">
			<div class="preview_img">
				<img src="{{ item.image.url }}">
			</div>

			<div class="prev_details">
					<div class="prev_title">{{ item.name }}<small>{{ item.sku }}</small></div>
					<div class="prev_cat">{{ item.category }}<small>{{ item.sub_category }}</small</div>
					<div class="prev_price">₱ {{ item.price }}</div>
					<div class="prev_cart">
						<button class="button" type="button">Add to Cart</button>
					</div>
			</div>
		</div>

		<div class="item">
			{% for item in items %}
			<p>Related Products</p>
				<div class="item_list">
					<a href="{{ item.get_absolute_url }}">
							<div class="item_img">
									<img src="{{ item.image.url }}">
							</div>

							<div class="item_text">
									<h5>{{ item.name}}</h5>
							</div>

							<div class="item_decs">{{ item.short_decs}}</div>
							<div class="item_price">
									<div class="price">₱{{ item.price }}</div>
									<div class="button"><a href="">Add to Cart</a></div>
							</div>
					</a>
				</div>
			{% endfor %}
		</div>
{% endblock %}
