{% extends 'base.html' %}
{% block title %}All Items({{ items.count }}){% endblock %}
{% block breadcrumb %}
{{ block.super }}
<a class="breadcumb-item">All </a>({{ item.count }})
{% endblock %}

{% block content %}
          <div class="col-xs-7 col-sm-3 col-md-2">
              {% block sidebar %}
                {% include "bike/include/sidebar.html" %}
              {% endblock %}
          </div>

   <div class="col-xs-7 col-sm-3 col-md-10">
       {% block content_list %}
            {% include 'bike/include/all_items.html' %}
       {% endblock %}
   </div>
{% endblock %}

{% block pagination %}
    {% include 'bike/include/pagination.html' %}
{% endblock %}
