{% extends 'base.html' %}

{% block title %}All Items{% endblock %}
{% block breadcumb %}
{{ block.super }}
<a class="breadcumb-item">All ({{ item.count }})</a>
<form class="breadcrumb-item pull-right" method="GET" action="">
    <input type="text" name="q" placeholder="Search Items" value="{{ query_string }}">
</form>
{% endblock %}

{% block content %}
  <div class="container theme-showcase" role="main">
      <div class="well">
      {% if results %}
      {% for item in results %}
        <div class="list-group">
          <a href="/item/{{ item.pk }}" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="all_img" src="{{ item.image.url }}" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading">{{ item.name }}</h4>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true">{{ item.locations }}</span>
                    <br>
                    <br>
                    <p class="list-group-item-text">{{ item.details }}</p>
                </div>
                <div class="col-md-3 text-center">
                    <h2 class="all_price">$  {{ item.price }}</h2>
                    <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Posted by: <small> {{ item.owner }}</small></p>
                </div>
          </a>
          <br>
            {% endfor %}
            {% else %}
                <p>No Results</p>
            {% endif %}

        </div>
      </div>
  </div>

<div class="container" align="center">
    {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if items.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
{% endblock %}