{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block title %}Search{% endblock %}
{% block head %}
    <link href="{% static 'css/bike.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'index' %}">Home</a>
    </li>
    <li>Results for..{{ query_string }}</li>

  </ul>
{% endblock %}

{% block sidebar %}
    {% include 'bike/include/sidebar.html' %}
{% endblock %}

{% block content %}
    {% include 'bike/include/results.html' %}
{% endblock %}
