{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block title %}All Items({{ items.count }}){% endblock %}
{% block head %}
    <link href="{% static 'css/bike.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
  <ul class="list-breadcrumb">
    <li><a href="{% url 'index' %}">Home</a>
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </li>
    <li>{{ items|length }} result{{ items|length|pluralize }}</li>
  </ul>
{% endblock %}

{% block sidebar %}
    {% include 'bike/include/sidebar.html' %}
{% endblock %}

{% block content %}
    {% include 'bike/include/results.html' %}
{% endblock %}
